* {
    padding: 0;
    margin: 0
}

.title {
    font-size: .3rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(20, 20, 20, 1);
    height: .9rem;
    line-height: .9rem;
    text-align: center;
}

body {
    position: relative;
}

.allMoneyBox {
    position: absolute;
    width: 100%;
    margin-top: .05rem;
}

.zichan {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgba(255, 139, 0, 1);
    margin: 0 auto;
}

.zichan-title {
    font-size: .24rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: .56rem;
    padding-top: .58rem;
    text-align: center;
}

.money {
    font-size: .36rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: .58rem;
    text-align: center;
}

.rowItem {
    padding: .14rem .3rem;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
}

.leftone {
    align-items: flex-start;
}

.rightone {
    align-items: flex-end;
}

.number {
    font-size: .3rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: .44rem;
}

.label {
    font-size: .22rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(140, 140, 140, 1);
    line-height: .36rem;
}

.rowItem-margin-top {
    margin-top: 1.98rem;
}

.rowItem-bottom-margin {
    margin-bottom: .14rem;
}

.kong {
    background: #E9EDF0;
    height: .2rem;
    width: 100%;
}

.listItem {
    padding: .2rem .3rem;
    border-bottom: 1px solid #E9EDF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: .24rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: .4rem;
}
.icon{
    font-size: .21rem;
    color:#B9B9B9;
}
.arrow{
    width:.16rem;
    height: .28rem;
}