.content {
    background: white;
}

.headicon {
    width: .38rem;
    height: .3rem;
    margin-right: .14rem;
}

.about {
    padding: .3rem 0;
    margin: 0 .3rem;
    border-bottom: 1px solid #E9EDF0;
}

.shouyiLeft, .shouyiRight, .shouyifrom {
    font-size: .24rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: .24rem;
}

.shouyiLeft {
    display: flex;
    align-items: center;
}

.shouyifrom {
    color: rgba(92, 92, 92, 1);
}

.shouyi, .shouyifrom {
    height: .4rem;
}

.shouyifrom {
    margin-top: .14rem;
}

.detail {
    font-size: .24rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: .24rem;
    height: .8rem;
    padding: 0 .3rem;
}

body, #page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    flex-shrink: 0;
}

.content {
    flex: 1;
    overflow: auto;
}

