* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    position: relative;
}

.bg {
    width: 100%;
    z-index: 0;
    display: block;
}

.contain {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.head{
    height:1rem;
    text-align: center;
    line-height: 1rem;
    font-size:.36rem;
    color:white;
    position: relative;
}
.head .back{
    position: absolute;
    top:0;
    left: 0;
    padding:0 .3rem;
}

.contain .title {
    font-size: 0.4rem;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    text-align: center;
    margin: 7.6rem 0 0 0;
}

.contain .code {
    width: 2.66rem;
    height: 2.66rem;
    background: greenyellow;
    margin: .25rem auto 0;
}

.btn {
    width: 4.6rem;
    height: 0.8rem;
    background: linear-gradient(180deg, rgba(253, 177, 1, 1), rgba(252, 227, 16, 1));
    box-shadow: 0px 10px 23px 0px rgba(172, 9, 95, 0.5);
    border-radius: .40rem;
    margin: .5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .36rem;
    font-family: SimHei;
    color: rgba(57, 25, 22, 1);
}

.btn:hover {
    opacity: 0.9;
}

.more {
    font-size: .46rem;
    font-family: Adobe Heiti Std;
    font-weight: bold;
    color: #FFBA69;
    margin: .5rem auto 0;
    text-align: center;
}
