body {
    background-image: url(../img/bg2.png);
    background-size: 100vw auto;
}

#addxypic {
    background-image: url(../img/addxyred.png);
}

#adddaypic {
    background-image: url(../img/dayred.png);
}

.addxiny>span {
    color: #FFE295;
}

.hope .hopetitle {
    color: #FFDF8C
}

.hope p {
    color: #FEF9E3
}

.end h5 {
    color: #FFDF8C;
}

.end p {
    color: #FEF9E3;
}