body {
    background: white;
}

#addxypic {
    background-image: url(../img/addxy.png);
}

#adddaypic {
    background-image: url(../img/day.png);
}

.addxiny>span {
    color: rgba(235, 0, 2, 1);
}

.hope .hopetitle {
    color: rgba(254, 48, 4, 1);
}

.hope p {
    color: rgba(51, 19, 0, 1);
}

.end h5 {
    color: rgba(143, 53, 0, 1);
}

.end p {
    color: rgba(136, 88, 60, 1);
}