body {
    background: #FFCA7E;
}

#addxypic {
    background-image: url(../img/addxy.png);
}

#adddaypic {
    background-image: url(../img/day.png);
}

.addxiny>span {
    color: #EB0002;
}

.hope .hopetitle {
    color: #FE3004
}

.hope p {
    color: #331300
}

.end h5 {
    color: #8F3500
}

.end p {
    color: #88583C
}