<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/record.css">
<script src="/js/fontsize.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/request.js"></script>

<body>
    <div id=loadingDiv
        style="position: fixed;width:100vw;height: 100vh; background:#E9EDF0;z-index:999;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <img src="./img/loading.gif" style="width:50px;height:50px;">
        <span>加载中...</span>
    </div>
    <div id="page">
        <div class="pageHead">
            <div class="title">
                <div class="backiconbox">
                    <img src="/img/arrow-left.png" class="backicon" onclick="goback()" />
                </div>
                <span>资产总览</span>
            </div>
            <div class="tabbar" @click="clicktab">
                <div class="tabbaritem">
                    <span id="one" :class="['tabbarcontent', selectTab==0?'active':'']">每日收入</span>
                </div>
                <div class="tabbaritem">
                    <span id="two" :class="['tabbarcontent', selectTab==1?'active':'']">提现记录</span>
                </div>
                <div class="tabbaritem">
                    <span id="three" :class="['tabbarcontent', selectTab==2?'active':'']">转账记录</span>
                </div>
            </div>
        </div>
        <div class="content" ref="activity_scroll" @scroll="activityScroll">
            <div class="incomeDaily" v-if="selectTab==0">
                <div class="item" v-for="item in list">
                    <div class="headtime">{{item.time}}</div>
                    <div class="item-head">
                        <div class="item-head-left">
                            <img src="/img/moneyicon.png" alt="" class="headicon" />
                            <span class="item-label">总收入</span>
                        </div>
                        <div class="item-allInput">+{{item.totalFee}}</div>
                    </div>
                    <div class="list-content">
                        <div class="item-list">
                            <span class="item-list-label">升级积分</span>
                            <span class="item-list-label">{{item.upgradeIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">现金消费</span>
                            <span class="item-list-label">{{item.cashIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">推荐业绩积分</span>
                            <span class="item-list-label">{{item.proIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">积分消费</span>
                            <span class="item-list-label">{{item.integralPay}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">分红积分</span>
                            <span class="item-list-label">{{item.unfreeIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">共享奖励</span>
                            <span class="item-list-label">{{item.shareIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">商城收益</span>
                            <span class="item-list-label">{{item.mallIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">o2o收益</span>
                            <span class="item-list-label">{{item.o2oIncome}}</span>
                        </div>
                        <div class="item-list">
                            <span class="item-list-label">货款收益</span>
                            <span class="item-list-label">{{item.paymentIncome}}</span>
                        </div>
                    </div>
                </div>
                <div class="loading bgcolor">
                    <img src="./img/loading.gif" alt="">
                </div>
            </div>
            <div class="tixianBox" v-if="selectTab==1">
                <div class="tixianItem" v-for="item in toCashRecord">
                    <div class="headtime">{{item.addTime}}</div>
                    <div class="tixianList">
                        <span class="tixian-label">提现渠道</span>
                        <div class="tixian-value otherInfo">
                            <div class="info">
                                <div class="payway">{{item.cashType|cashTypeFilter}}</div>
                                <!-- <div class="countInfo">账号：153*****035</div> -->
                            </div>
                            <!-- <img src="/img/alipay.png" class="paywayIcon" alt=""> -->
                        </div>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">提现金额</span>
                        <span class="tixian-value">￥{{item.cashFee|money}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">提现状态</span>
                        <span class="tixian-value">{{item.cashStatus|cashStatusFilter}}</span>
                    </div>
                </div>
                <div class="loading bgcolor">
                    <img src="./img/loading.gif" alt="" v-if="!toCash.loadEnd">
                    <span v-else>没有更多数据了</span>
                </div>
            </div>
            <div class="translateRecord" v-if="selectTab==2">
                <div class="translateList" v-for="item in translateRecordList">
                    <div class="headtime">{{item.addTime}}</div>
                    <div class="tixianList">
                        <span class="tixian-label">转账类型</span>
                        <span class="tixian-value">{{item.type==1?'兑换券':'共享积分'}}</span>
                    </div>
                    <div class="tixianList" v-if="item.srcUserName!=userName">
                        <span class="tixian-label">发起人账号</span>
                        <span class="tixian-value">{{item.srcUserName}}</span>
                    </div>
                    <div class="tixianList" v-if="item.srcUserName==userName">
                        <span class="tixian-label">收款人账号</span>
                        <span class="tixian-value">{{item.destUserName}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">转账金额</span>
                        <span
                            class="tixian-value">{{item.srcUserName==userName?'-':'+'}}{{item.integral|moneyFilter}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">手续费率</span>
                        <span class="tixian-value">{{item.rate|rateFilters}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">转账状态</span>
                        <span class="tixian-value">{{item.srcUserName==userName?'对方':''}}{{item.status|status}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">处理时间</span>
                        <span class="tixian-value">{{item.updateTime}}</span>
                    </div>
                    <div class="tixianList">
                        <span class="tixian-label">转账备注</span>
                        <span class="tixian-value">{{item.content}}</span>
                    </div>
                </div>
                <div class="loading bgcolor">
                    <img src="./img/loading.gif" alt="" v-if="!translate.loadEnd">
                    <span v-else>没有更多数据了</span>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#page",
        data: {
            selectTab: 0,
            list: [],//每日收入
            toCashRecord: [],
            translateRecordList: [],
            translate: {
                page: 1,
                loadEnd: false
            },
            toCash: {
                page: 1,
                loadEnd: false
            }
        },
        mounted() {
            this.userName = getUserName();
            var today = new Date();
            this.tomorrow = today.getTime() + 1000 * 60 * 60 * 24;
            switch (this.selectTab) {
                case 0:
                    this.getlist(this.tomorrow, 0)
                    break;
                case 1:
                    this.selectTab = 1;
                    break;
                case 3:
                    this.selectTab = 2;
                    break;
            }
        },
        methods: {
            clicktab(e) {
                let that = this;
                let target;
                switch (e.target.id) {
                    case 'one':
                        this.selectTab = 0;
                        break;
                    case 'two':
                        this.selectTab = 1;
                        this.toCashMethod(true)
                        break;
                    case 'three':
                        this.selectTab = 2;
                        that.translateRecord(true)
                        break;
                }
            },
            getlist(day, count) {
                this.running = true;
                let that = this;
                let thistime = formatTimeTwo(day - 1000 * 60 * 60 * 24, 'Y-M-D');
                let params = {
                    // limit		number	
                    // page		number
                    nextDay: thistime + ' 00:00:00'
                }
                postRequest(api.dailyIncome, params, res => {
                    count++;
                    that.list.push(Object.assign({ time: thistime }, res));

                    that.tomorrow = day - 1000 * 60 * 60 * 24;
                    // console.log(thistime)
                    if (count == 5) {
                        this.running = false;
                        console.log(that.list)
                    } else {
                        that.getlist(that.tomorrow, count);
                    }
                })
            },
            activityScroll() {
                let clientHeight = this.$refs.activity_scroll.clientHeight; //该容器的固定高度
                let scrollTop = this.$refs.activity_scroll.scrollTop; //滚动条距顶部的距离
                let scrollHeight = this.$refs.activity_scroll.scrollHeight; //内容的高度
                if (scrollHeight - scrollTop <= clientHeight) {
                    if (!this.running) {
                        console.log(1)
                        switch (this.selectTab) {
                            case 0:
                                console.log(2)
                                this.getlist(this.tomorrow, 0)
                                break;
                            case 1:
                                this.toCashMethod(false)
                                break;
                            case 2:
                                this.translateRecord(false);
                                break;
                        }
                    }
                }
            },
            translateRecord(refresh) {
                this.running = true;
                if (this.translate.loadEnd && !refresh) {
                    this.running = false;
                    return;
                };
                if (refresh) {
                    this.translate.page = 1;
                }
                let params = { page: this.translate.page };
                postRequest(api.translateRecordList, params, res => {
                    this.translate.page = this.translate.page + 1;
                    let templist = refresh ? [] : this.translateRecordList;
                    this.translateRecordList = templist.concat(res.list);
                    this.translate.loadEnd = res.currPage >= res.totalPage;
                    this.running = false;
                    console.log(res)
                })
            },
            toCashMethod(refresh) {
                // toCashApi
                this.running = true;
                if (this.toCash.loadEnd && !refresh) {
                    this.running = false;
                    return;
                };
                if (refresh) {
                    this.toCash.page = 1;
                }
                let params = { page: this.toCash.page };
                postRequest(api.toCashApi, params, res => {
                    this.toCash.page = this.toCash.page + 1;
                    let templist = refresh ? [] : this.toCashRecord;
                    this.toCashRecord = templist.concat(res.list);
                    this.toCash.loadEnd = res.currPage >= res.totalPage;
                    this.running = false;
                    console.log(res)
                })
            }
        },
        filters: {
            // 状态 0：取消，10：申请，20：接收，30：拒绝
            status(s) {
                if (s == 0) {
                    return '已取消';
                } else if (s == 10) {
                    return '申请中';
                } else if (s == 20) {
                    return '已接收';
                } else if (s == 30) {
                    return '已拒绝';
                };

            },
            rateFilters(rate) {
                if (!rate) {
                    return '0.00%';
                } else {
                    return (rate / 100).toFixed(2) + '%'
                }
            },
            moneyFilter(m) {
                return m.toFixed(6)
            },
            cashTypeFilter(type) {
                switch (type) {
                    case 1:
                        return '货款提现';
                        break;
                    case 2:
                        return '推广提现';
                        break;
                    case 3:
                        return '红包提现';
                        break;
                    case 4:
                        return '代理提现';
                        break;
                    case 5:
                        return '跨界提现';
                        break;
                    case 6:
                        return '代理跨界提现';
                        break;
                }
            },
            cashStatusFilter(s) {
                switch (s) {
                    case 10:
                        return "申请中";
                    case 20:
                        return "复审中";
                    case 30:
                        return "已提现";
                    case 0:
                        return "已驳回";
                }
            },
            money(mon) {
                return mon.toFixed(2);
            },


        }

    })
</script>

</html>